 ---
    #
    # Example Playbook using wait_for_boot_task.yml
    #
    - name: Starting wait for reboot
      include: wait_for_boot_task.yml
      vars:
        mymin: 6
        delaynum: 30
        retriesnum: 90
      # when: patchtool_install_result is defined and patchtool_install_result.stdout.find('Instructing ansible to reboot server') != -1
